{% extends 'base.html.twig' %}

{% form_theme formClient 'bootstrap_4_layout.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}

{% block body %}

<div class="container">
    <h1>Inscription</h1>

    {{ form_start(formClient) }}
    <div class="form-group">
        <label for="">Login :</label>
        {{ form_widget(formClient.login) }}
    </div>

    <div class="form-group">
    <label for="">MDP :</label>
    {{ form_widget(formClient.mdp) }}
    </div>

    <div class="form-group">
    <label for="">Mail :</label>
    {{ form_widget(formClient.mail) }}
    </div>

     <button type="submit" class="btn btn-success"></button
    {{ form_end(formClient) }}
   

</div>
{% endblock %}
